
.user{
    padding: 10px;
    background-color: rgb(213, 72, 72);
    border: 1px solid;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    gap: 15px;
    color: wheat;
    
}
.usergroup{
    display: flex;
    flex-direction: column;
    gap: 20px;
}